@model Exwhyzee.ESS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
















@*<section id="welcome-sect" class="py-3">
    <div class="mx-3 px-2 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3><strong style="text-align: center !important;"> WELCOME TO LUMEN CHRISTI SECONDARY SCHOOL, NGOR-OKPALA</strong></h3>
                <p style="font-weight: 600 !important; text-align: center !important;">...a citadel of learning for the treasured child</p>
            </div>
        </div>
        <div class="d-block d-md-none d-lg-flex col-12 px-0">
            <div class="col-md-6 col-lg-3  ml-md-0 px-0">
                <div class="key-features bg-white text-primary"><span class="key-feature-title"> Our Vision </span> <span class="key-feature-content text-center"> To educate and empower for global relevance. </span></div>
            </div>
            <div class="col-md-6 col-lg-3  ml-md-0 px-0">
                <div class="key-features bg-white text-primary"><span class="key-feature-title"> Our Culture </span> <span class="key-feature-content text-center"> Passion for Excellence </span></div>
            </div>
            <div class="col-md-6 col-lg-3  ml-md-0 px-0">
                <div class="key-features bg-white text-primary "><span class="key-feature-title"> Our Motto </span> <span class="key-feature-content text-center"> To nurture for Service. </span></div>
            </div>
            <div class="col-md-6 col-lg-3  ml-md-0 px-0">
                <div class="key-features bg-white text-primary "><span class="key-feature-title"> Our Mission </span> <span class="key-feature-content text-center"> To provide Total Quality Education (TQE). </span></div>
            </div>
        </div>
        <div class="container">
            <h2 style="text-align: center; font-weight: 900; margin-top: 20px;">History to Our School</h2>
            <p style="text-align: justify !important;">
                Lumen Christi Secondary school Ngor-okpala, Imo state, Nigeria is a center of academic excellence with state of the art facilities, well trained teachers, child friendly academic and co-curricular programs. Today, Lumen Christi secondary school Ngor-okpala is among the top schools in Nigeria and known for its all-round excellence worldwide.
            </p>
            <p style="text-align: justify !important;">
                Founded on absolute faith and trust in God, our school is committed to training pupils in the fear of God and nurturing them to become morally sound, responsible and intelligent individuals. Over the years, our students have always come out tops to the admiration of all. Our students have continued to make waves in various tertiary institutions which are eloquent testimonies of the training they received.

                "In Lumen Christi Secondary School, excellence is our watchword"

                We appreciate your interest in our school and trust that our prospectus will guide you in making the best choice for your the educational future of your child. We look forward to welcome your child.
            </p>
            <div class="col-md-12"><a class="contact-us hvr-bounce-to-right" href="#">Read More</a></div>
        </div>
    </div>
</section>
<section id="our-mission" style="padding: 30px 0 !important; border-top: 3px solid #5675bf;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 image-caption">
                <div class="content">
                    <h2>Do You Know?</h2>
                    <p>&ldquo;Aim for success, not perfection. Never give up your right to be wrong, because then you will lose the ability to learn new things and move forward with your life. Remember that fear always lurks behind perfectionism.&ldquo;</p>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h2 class="benfits" style="margin-top: 0 !important;">BENEFITS YOU WILL HAVE WITH US</h2>
                <div class="col-md-6">
                    <ul>
                        <li>We Give Quality Education</li>
                        <li>We Provide Security</li>
                        <li>We Provide Renovation</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>We Provide Opportunity to Excursions</li>
                        <li>We Attend Nation Quiz Competitions</li>
                        <li>We Attend National Debate</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="welcome-to-construct">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">&nbsp;</div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <h2>Compitition Schedule</h2>
                <p>&ldquo;Champions do not become champions when they win the event, but in the hours, weeks, months and years they spend preparing for it. The victorious performance itself is merely the demonstration of their championship character.&rdquo;</p>
                <h3>List of Competitions the school will emback on</h3>
                <div class="list-box clearfix">
                    <ul>
                        <li>Cowbell Competition</li>
                        <li>Iskools Competition</li>
                    </ul>
                    <ul>
                        <li>Mathematics Competition</li>
                        <li>Debate Competition</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="testimonials-construct-home" style="padding: 30px 0 !important;">
    <div class="container">
        <div class="section-title">
            <h1>testimonials</h1>
        </div>
        <div class="clearfix">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>John Uchendu</h3>
                            <p>I have never been a happier parent. Having my kids be a part of this institution is my best decision so far</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>Amara okoro</h3>
                            <p>If I had to choose again, I'll choose this institution over and over again. It is truly a hub for excellence</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>Daniels Nina</h3>
                            <p>A home away from home. Mater misericordiae is the best</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>Pwajok Anthony</h3>
                            <p>Excellence is a virtue few institutions possess. At mater misericordiae, i found it and even more. I'm grateful for all you do for the kids</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>Suleiman MaryJoan</h3>
                            <p>Not just education but all round grooming. I'm grateful for your efforts in the life of these kids. Keep it up</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="great-construct-team" style="background: #5675bf url('http://exwhyzee.ng/Files/booter255930677.png') center center no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>ADMISSION ADMISSION ADMISSION</h2>
                <p style="color: #ffffff;">contact us to register your child today with us <br />call our phone number.</p>
                <p class="has-btn" style="color: #ffffff;"><strong style="color: #ffffff;">000000000000</strong> or <a class="hvr-bounce-to-right" style="color: #ffffff;" href="#">Contact Us</a></p>
            </div>
        </div>
    </div>
</section>



















<section id="construction-welcome" style="padding:30px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single-construction-welcome">

                <h2>About Us</h2>
                <p>DMMM School Started on 19th September 2011 with a total of 30 students and 9 teachers.  </p>
                <p>The pioneer Principal was while the incumbent principal is Rev. Sr. Ethelma Obiaju both of Daughters of Mary Mother of Mercy Congregation (DMMM).</p>
                <p>
                    The academic activities commenced in an uncompleted building of the schools permanent site.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single-construction-welcome">

                <h2>Mission</h2>
                <p>Our mission is to make catholic education accessible to the poor and at the same time, attain moral, social and academic excellence.</p>
                <br />
                <h2>Vision</h2>
                <p>Our vision is to build an institution of excellence to acquire knowledge and inspire service of God and humanity</p>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0 single-construction-welcome">
                <h2>Staffing</h2>
                <p>We employ qualified teachers who are competent and committed to their duties and are of proven characters. This is because moral and academic excellence is our watchword and we are bent on actualizing it. </p>
                <p>The staff are screened and interviewed by the Catholic Education Secretariat of Abuja Archdiocese. Academic activities start by 7:30 am with morning assembly and ends at 2:00pm daily</p>

            </div>
        </div>
        <div class="col-md-12">
            <a href="#" class="contact-us hvr-bounce-to-right">Read More</a>
        </div>
    </div>
</section>

<section id="our-mission" style="padding:30px 0 !important;border-top:3px solid #5675bf;">
    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 image-caption">

                <div class="content">
                    <h2>Do You Know?</h2>
                    <p>
                        “Aim for success, not perfection. Never give up your right to be wrong, because then you will lose the ability to learn new things and move forward with your life. Remember that fear always lurks behind perfectionism.“
                    </p>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <h2 class="benfits" style="margin-top:0 !important;">BENEFITS YOU WILL HAVE WITH US</h2>

                <div class="col-md-6">
                    <ul>
                        <li><i class="fa fa-arrow-circle-o-right"></i> We Give Quality Education</li>
                        <li><i class="fa fa-arrow-circle-o-right"></i> We Provide Security</li>
                        <li><i class="fa fa-arrow-circle-o-right"></i> We Provide Renovation</li>


                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>

                        <li><i class="fa fa-arrow-circle-o-right"></i> We Provide Opportunity to Excursions</li>
                        <li><i class="fa fa-arrow-circle-o-right"></i> We Attend Nation Quiz Competitions</li>
                        <li><i class="fa fa-arrow-circle-o-right"></i> We Attend National Debate</li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>


<section id="welcome-to-construct">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <h2>Compitition Schedule</h2>
                <p>“Champions do not become champions when they win the event, but in the hours, weeks, months and years they spend preparing for it. The victorious performance itself is merely the demonstration of their championship character.” </p>
                <h3>List of Competitions the school will emback on</h3>
                <div class="list-box clearfix">
                    <ul>
                        <li><i class="fa fa-hand-o-right"></i> Cowbell Competition</li>
                        <li><i class="fa fa-hand-o-right"></i> Iskools Competition</li>
                    </ul>
                    <ul>
                        <li><i class="fa fa-hand-o-right"></i> Mathematics Competition</li>
                        <li><i class="fa fa-hand-o-right"></i> Debate Competition</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonials-construct-home" style="padding:30px 0 !important;">
    <div class="container">
        <div class="section-title">
            <h1>testimonials</h1>
        </div>

        <div class="clearfix">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="single-testimonial-construct clearfix">

                        <div class="content">
                            <h3>John Uchendu</h3>
                            <p>
                                I have never been a happier parent. Having my kids be a part of this institution is my best decision so far
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>Amara okoro</h3>
                            <p>
                                If I had to choose again,  I'll choose this institution over and over again.  It is truly a hub for excellence
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>Daniels Nina</h3>
                            <p>
                                A home away from home.  Mater misericordiae is the best
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>Pwajok Anthony</h3>
                            <p>
                                Excellence is a virtue few institutions possess. At mater misericordiae,  i found it and even more.  I'm grateful for all you do for the kids
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="single-testimonial-construct clearfix">
                        <div class="content">
                            <h3>Suleiman MaryJoan</h3>
                            <p>
                                Not just education but all round grooming. I'm grateful for your efforts in the life of these kids. Keep it up
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>*@







