<!DOCTYPE html>
<!-- saved from url=(0044)http://htmlbeans.com/html/studylms/home.html -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- set the encoding of your site -->
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the HandheldFriendly -->
    <meta name="HandheldFriendly" content="True">

    <title>iSKOOLS | NO_1 School Management Software, Questions and Answers</title>
    <link rel="icon" href="~/Content/img/icon_iskools.png" type="image/x-icon">

    <meta name="description" content="Iskool is a software that rearrange the life of organization heads and educators with the goal that they can concentrate on the most significant thing: teaching and enlightening our youngsters. We are connecting the computerized gap in training by offering iskool Core as open source and selling premium item and administrations at moderate evaluating.">
    <meta property="og:title" content="iSKOOLS | NO_1 School Management Software, Questions and Answers">
    <meta property="og:description" content="Iskool is a software that rearrange the life of organization heads and educators with the goal that they can concentrate on the most significant thing: teaching and enlightening our youngsters. We are connecting the computerized gap in training by offering iskool Core as open source and selling premium item and administrations at moderate evaluating.">
    <meta property="og:image" content="~/Content/img/icon_iskools.png">
    <meta property="og:url" content="http://iskools.com.ng/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="iSKOOLS | NO_1 School Management Software, Questions and Answers">
    <!-- include google roboto font cdn link -->
    <link href="~/Content/iskool/css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- include the site bootstrap stylesheet -->
    <link rel="stylesheet" href="~/Content/iskool/bootstrap.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="~/Content/iskool/plugins.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="~/Content/iskool/colors.css">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="~/Content/iskool/style.css">
    <!-- include the site responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/iskool/responsive.css">

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <style>
        @@media (min-width: 768px) {
            .heading-banner .holder {
                min-height: 261px;
            }
        }

        body {
            color: #000000;
        }

        toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #f86600;
        }
    </style>

    <style>
        .navbar-default .navbar-toggle {
            border-color: #3B5998;
        }

        .navbar-toggle {
            padding: 3px 4px;
            color: #3B5998;
        }
    </style>
</head>
<body id="body">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7ZBWC5NBEQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7ZBWC5NBEQ');
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e80c1a235bcbb0c9aab95fb/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- main container of all the page elements -->
    <div id="wrapper">
        <!-- header of the page -->
        <header id="page-header" class="page-header-stick">
            <!-- top bar -->
            <!-- header holder -->

            <style>
                .navbar {
                    margin-bottom: 0px;
                }

                .navbar-default .navbar-nav > li > a {
                    color: #000 !important;
                    opacity: .8 !important;
                    line-height: 30px !important;
                    font-size: 11px !important;
                    text-transform: uppercase;
                    font-weight: 800;
                }

                .navbar-default .navbar-nav > li:hover {
                    background-color: #ffff !important;
                    color: #ffff !important;
                }

                .navbar-default .navbar-nav > li:focus {
                    background-color: #ffff !important;
                    color: #ffff !important;
                }

                .navbar-default .navbar-nav > li:active {
                    background-color: #ffff !important;
                    color: #ffff !important;
                }

                .navbar-default .navbar-nav > li::after {
                    background-color: #ffff !important;
                    color: #ffff !important;
                }

                .nav > li > a {
                    position: relative;
                    display: block;
                    padding: 12px 12px;
                }

                @@media (min-width: 768px) {
                    .navbar-left1 {
                        float: right !important;
                    }
                }

                .features-aside .col {
                    padding: 15px 10px;
                }

                .popular-posts-block {
                    padding-top: 10px;
                    padding-bottom: 5px;
                }

                .counter-aside {
                    position: relative;
                    overflow: hidden;
                    min-height: 80px;
                    color: #fff;
                    text-align: center;
                }

                    .counter-aside .col {
                        margin-bottom: 0;
                        text-align: center;
                    }

                    .counter-aside .align-wrap .align {
                        padding-bottom: 30px;
                    }

                    .counter-aside .align-wrap .align {
                        max-width: none;
                        width: 100%;
                        margin-left: -3px;
                        padding-top: 5px;
                    }

                .upcoming-events-block {
                    padding-top: 20px;
                    padding-bottom: 23px;
                }

                .categories-aside {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .categories-list > li {
                    margin-bottom: 0px;
                }

                .categories-list .icn-wrap {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    margin-bottom: 22px;
                    height: 25px;
                }

                .categories-list > li > a {
                    width: 173px;
                    height: 85px;
                }

                .testimonials-block {
                    padding-top: 12px;
                    padding-bottom: 18px;
                }

                    .testimonials-block h2, .testimonials-block .h2 {
                        font-size: 22px;
                    }

                .carousel-indicators {
                    bottom: -30px;
                }

                    .carousel-indicators li {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin: 1px;
                        text-indent: -999px;
                        cursor: pointer;
                        background-color: #000000;
                        background-color: #000000;
                        border: 1px solid #fff;
                        border-radius: 10px;
                    }

                    .carousel-indicators .active {
                        width: 12px;
                        height: 12px;
                        margin: 0;
                        background-color: #000000;
                    }

                .popular-posts-head .popular-head-heading {
                    font-size: 16px;
                    margin: 15px 0 2px;
                    text-transform: uppercase;
                }

                .popular-post {
                    margin-bottom: 0px;
                }

                    .popular-post .aligncenter {
                        margin: 0 -20px 4px;
                    }

                    .popular-post .post-foot {
                        padding: 10px 20px 11px;
                    }

                    .popular-post .post-heading {
                        font-size: 10px;
                        text-transform: uppercase !important;
                        vertical-align: middle !important;
                        height: 25px !important;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center !important;
                        margin: 0 !important;
                    }

                .post-author .author-heading {
                    font-size: 9px !important;
                }

                .card {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 1px solid rgba(0, 0, 0, 0.125);
                    border-radius: 0.25rem;
                }

                    .card > hr {
                        margin-right: 0;
                        margin-left: 0;
                    }

                    .card > .list-group:first-child .list-group-item:first-child {
                        border-top-left-radius: 0.25rem;
                        border-top-right-radius: 0.25rem;
                    }

                    .card > .list-group:last-child .list-group-item:last-child {
                        border-bottom-right-radius: 0.25rem;
                        border-bottom-left-radius: 0.25rem;
                    }

                .card-body {
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    min-height: 1px;
                    padding: 1.25rem;
                }

                .card-title {
                    margin-bottom: 0.75rem;
                }

                .card-subtitle {
                    margin-top: -0.375rem;
                    margin-bottom: 0;
                }

                .card-text:last-child {
                    margin-bottom: 0;
                }

                .card-link:hover {
                    text-decoration: none;
                }

                .card-link + .card-link {
                    margin-left: 1.25rem;
                }

                .card-header {
                    padding: 0.75rem 1.25rem;
                    margin-bottom: 0;
                    background-color: rgba(0, 0, 0, 0.03);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                }

                    .card-header:first-child {
                        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
                    }

                    .card-header + .list-group .list-group-item:first-child {
                        border-top: 0;
                    }

                .card-footer {
                    padding: 0.75rem 1.25rem;
                    background-color: rgba(0, 0, 0, 0.03);
                    border-top: 1px solid rgba(0, 0, 0, 0.125);
                }

                    .card-footer:last-child {
                        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
                    }

                .card-header-tabs {
                    margin-right: -0.625rem;
                    margin-bottom: -0.75rem;
                    margin-left: -0.625rem;
                    border-bottom: 0;
                }

                .card-header-pills {
                    margin-right: -0.625rem;
                    margin-left: -0.625rem;
                }

                .card-img-overlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 1.25rem;
                }

                .card-img,
                .card-img-top,
                .card-img-bottom {
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    width: 100%;
                }

                .card-img,
                .card-img-top {
                    border-top-left-radius: calc(0.25rem - 1px);
                    border-top-right-radius: calc(0.25rem - 1px);
                }

                .card-img,
                .card-img-bottom {
                    border-bottom-right-radius: calc(0.25rem - 1px);
                    border-bottom-left-radius: calc(0.25rem - 1px);
                }

                .card-deck .card {
                    margin-bottom: 15px;
                }

                @@media (min-width: 576px) {
                    .card-deck {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                        margin-right: -15px;
                        margin-left: -15px;
                    }

                        .card-deck .card {
                            -ms-flex: 1 0 0%;
                            flex: 1 0 0%;
                            margin-right: 15px;
                            margin-bottom: 0;
                            margin-left: 15px;
                        }
                }

                .card-group > .card {
                    margin-bottom: 15px;
                }

                @@media (min-width: 576px) {
                    .card-group {
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                    }

                        .card-group > .card {
                            -ms-flex: 1 0 0%;
                            flex: 1 0 0%;
                            margin-bottom: 0;
                        }

                            .card-group > .card + .card {
                                margin-left: 0;
                                border-left: 0;
                            }

                            .card-group > .card:not(:last-child) {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }

                                .card-group > .card:not(:last-child) .card-img-top,
                                .card-group > .card:not(:last-child) .card-header {
                                    border-top-right-radius: 0;
                                }

                                .card-group > .card:not(:last-child) .card-img-bottom,
                                .card-group > .card:not(:last-child) .card-footer {
                                    border-bottom-right-radius: 0;
                                }

                            .card-group > .card:not(:first-child) {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }

                                .card-group > .card:not(:first-child) .card-img-top,
                                .card-group > .card:not(:first-child) .card-header {
                                    border-top-left-radius: 0;
                                }

                                .card-group > .card:not(:first-child) .card-img-bottom,
                                .card-group > .card:not(:first-child) .card-footer {
                                    border-bottom-left-radius: 0;
                                }
                }

                .card-columns .card {
                    margin-bottom: 0.75rem;
                }

                @@media (min-width: 576px) {
                    .card-columns {
                        -webkit-column-count: 3;
                        -moz-column-count: 3;
                        column-count: 3;
                        -webkit-column-gap: 1.25rem;
                        -moz-column-gap: 1.25rem;
                        column-gap: 1.25rem;
                        orphans: 1;
                        widows: 1;
                    }

                        .card-columns .card {
                            display: inline-block;
                            width: 100%;
                        }
                }

                .accordion > .card {
                    overflow: hidden;
                }

                    .accordion > .card:not(:last-of-type) {
                        border-bottom: 0;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    .accordion > .card:not(:first-of-type) {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }

                    .accordion > .card > .card-header {
                        border-radius: 0;
                        margin-bottom: -1px;
                    }

                .text-gray {
                    color: #f3eeee;
                }

                .heading-banner .holder {
                    min-height: 121px;
                }

                    .heading-banner .holder .align {
                        padding-top: 45px;
                    }

                .breadcrumb {
                    padding: 0px 0;
                    margin-bottom: 16px;
                }

                #two-columns {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                .post-author {
                    margin-bottom: 2px;
                }

                div.aligncenter {
                    margin: 0 auto 0;
                }

                .content-aligncenter {
                    margin-bottom: 10px !important;
                }

                .reviesSubmissionForm .form-group {
                    margin-bottom: 4px;
                }
            </style>
            <style>
                .card {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 1px solid rgba(0, 0, 0, 0.125);
                    border-radius: 0.25rem;
                }

                    .card > hr {
                        margin-right: 0;
                        margin-left: 0;
                    }

                    .card > .list-group:first-child .list-group-item:first-child {
                        border-top-left-radius: 0.25rem;
                        border-top-right-radius: 0.25rem;
                    }

                    .card > .list-group:last-child .list-group-item:last-child {
                        border-bottom-right-radius: 0.25rem;
                        border-bottom-left-radius: 0.25rem;
                    }

                .card-body {
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    padding: 1.25rem;
                }

                .card-title {
                    margin-bottom: 0.75rem;
                }

                .card-subtitle {
                    margin-top: -0.375rem;
                    margin-bottom: 0;
                }

                .card-text:last-child {
                    margin-bottom: 0;
                }

                .card-link:hover {
                    text-decoration: none;
                }

                .card-link + .card-link {
                    margin-left: 1.25rem;
                }

                .card-header {
                    padding: 0.75rem 1.25rem;
                    margin-bottom: 0;
                    background-color: rgba(0, 0, 0, 0.03);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                }

                    .card-header:first-child {
                        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
                    }

                    .card-header + .list-group .list-group-item:first-child {
                        border-top: 0;
                    }

                .card-footer {
                    padding: 0.75rem 1.25rem;
                    background-color: rgba(0, 0, 0, 0.03);
                    border-top: 1px solid rgba(0, 0, 0, 0.125);
                }

                    .card-footer:last-child {
                        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
                    }

                .card-header-tabs {
                    margin-right: -0.625rem;
                    margin-bottom: -0.75rem;
                    margin-left: -0.625rem;
                    border-bottom: 0;
                }

                .card-header-pills {
                    margin-right: -0.625rem;
                    margin-left: -0.625rem;
                }

                .card-img-overlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding: 1.25rem;
                }

                .card-img {
                    width: 100%;
                    border-radius: calc(0.25rem - 1px);
                }

                .card-img-top {
                    width: 100%;
                    border-top-left-radius: calc(0.25rem - 1px);
                    border-top-right-radius: calc(0.25rem - 1px);
                }

                .card-img-bottom {
                    width: 100%;
                    border-bottom-right-radius: calc(0.25rem - 1px);
                    border-bottom-left-radius: calc(0.25rem - 1px);
                }

                .card-deck {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                }

                    .card-deck .card {
                        margin-bottom: 15px;
                    }

                @@media (min-width: 576px) {
                    .card-deck {
                        -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                        margin-right: -15px;
                        margin-left: -15px;
                    }

                        .card-deck .card {
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex: 1 0 0%;
                            flex: 1 0 0%;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            margin-right: 15px;
                            margin-bottom: 0;
                            margin-left: 15px;
                        }
                }

                .card-group {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                }

                    .card-group > .card {
                        margin-bottom: 15px;
                    }

                @@media (min-width: 576px) {
                    .card-group {
                        -ms-flex-flow: row wrap;
                        flex-flow: row wrap;
                    }

                        .card-group > .card {
                            -ms-flex: 1 0 0%;
                            flex: 1 0 0%;
                            margin-bottom: 0;
                        }

                            .card-group > .card + .card {
                                margin-left: 0;
                                border-left: 0;
                            }

                            .card-group > .card:not(:last-child) {
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                            }

                                .card-group > .card:not(:last-child) .card-img-top,
                                .card-group > .card:not(:last-child) .card-header {
                                    border-top-right-radius: 0;
                                }

                                .card-group > .card:not(:last-child) .card-img-bottom,
                                .card-group > .card:not(:last-child) .card-footer {
                                    border-bottom-right-radius: 0;
                                }

                            .card-group > .card:not(:first-child) {
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            }

                                .card-group > .card:not(:first-child) .card-img-top,
                                .card-group > .card:not(:first-child) .card-header {
                                    border-top-left-radius: 0;
                                }

                                .card-group > .card:not(:first-child) .card-img-bottom,
                                .card-group > .card:not(:first-child) .card-footer {
                                    border-bottom-left-radius: 0;
                                }
                }

                .card-columns .card {
                    margin-bottom: 0.75rem;
                }

                @@media (min-width: 576px) {
                    .card-columns {
                        -webkit-column-count: 3;
                        -moz-column-count: 3;
                        column-count: 3;
                        -webkit-column-gap: 1.25rem;
                        -moz-column-gap: 1.25rem;
                        column-gap: 1.25rem;
                        orphans: 1;
                        widows: 1;
                    }

                        .card-columns .card {
                            display: inline-block;
                            width: 100%;
                        }
                }

                .accordion > .card {
                    overflow: hidden;
                }

                    .accordion > .card:not(:first-of-type) .card-header:first-child {
                        border-radius: 0;
                    }

                    .accordion > .card:not(:first-of-type):not(:last-of-type) {
                        border-bottom: 0;
                        border-radius: 0;
                    }

                    .accordion > .card:first-of-type {
                        border-bottom: 0;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    .accordion > .card:last-of-type {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }

                    .accordion > .card .card-header {
                        margin-bottom: -1px;
                    }

                .card-horizontal {
                    display: flex;
                    flex: 1 1 auto;
                }

                .mobile-active .card-horizontal {
                    display: flex;
                    flex: 1 1 auto;
                }

                .mobile-active .card-body {
                    padding: 0.4em;
                }

                .mobile-active h6, .h6 {
                    font-size: 10px;
                }

                header h1 {
                    font-size: 30px !important;
                }

                header .align {
                    padding-top: 75px !important;
                }
            </style>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container-fluid" style="margin-top:5px;margin-bottom:5px;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            menu
                        </button>
                        <img src="~/Content/img/icon123.png" />
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left1">
                            <li><a href="/" class="nav-item">Home</a></li>
                            <li><a href="@Url.Action("About", "Iskools")" class="nav-item">About Us</a></li>

                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">Services<span class="fa fa-angle-down icons-dropdown"></span></a>
                                @*<ul class="dropdown-menu edugate-dropdown-menu-1">
                <li>
                    <a class="dropdown-item" href="http://iskools.com.ng/Simulations/Initializer"> Practical Simulation</a>
                </li>
                <li>
                    <a class="dropdown-item" href="http://schoolmanagement.iskools.com.ng/Account/Login"> Online CBT</a>
                </li>
                <li>
                    <a class="dropdown-item" href="http://iskools.com.ng/ELibrary/Ebooks"> E-Library</a>
                </li>
                <li>
                    <a class="dropdown-item" href="http://iskools.com.ng/Games/Initializer"> Online Game</a>
                </li>

            </ul>*@
                            </li>
                            <li class="nav-item dropdown">
                                <a href="javascript:void(0)" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">Overview<span class="fa fa-angle-down icons-dropdown"></span></a>
                                @*<ul class="dropdown-menu edugate-dropdown-menu-1">
                <li>
                    @Html.ActionLink("KG/Nursery", "SubjectIndex", "Tutor", new { enumm = 1, fgc = "Kg and Nursery" }, new { @class = "dropdown-item" })
                </li>
                <li>
                    @Html.ActionLink("Primary", "SubjectIndex", "Tutor", new { enumm = 3, fgc = "Primary" }, new { @class = "dropdown-item" })
                </li>
                <li>
                    @Html.ActionLink("Secondary", "SubjectIndex", "Tutor", new { enumm = 4, fgc = "Secondary" }, new { @class = "dropdown-item" })
                </li>
                <li>
                    @Html.ActionLink("Motivational", "SubjectIndex", "Tutor", new { enumm = 5, fgc = "Motivational" }, new { @class = "dropdown-item" })
                </li>

            </ul>*@
                            </li>

                            <li>
            <a href="#" class="nav-item">Features</a></li>

        
        <li>
           <a href="#" class="nav-item">Careers</a></li>

       

                            <li><a href="@Url.Action("Contact", "Iskools")" class="nav-item">Contact us</a></li>

                            @*@Html.Partial("_LoginPartial")*@

                        </ul>
                    </div>
                </div>
            </div>


        </header>
        <!-- contain main informative part of the site -->
        @RenderBody()
        <!-- footer area container -->
        <div class="footer-area bg-dark text-gray">
            <!-- aside -->
            <aside class="aside container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col hidden-xs">
                        <h3>Company</h3>
                        <!-- widget cources list -->
                        <ul class="fooer-navigation list-unstyled">
                            @*@Html.Action("_TopicsFooter", "Tutor")*@
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us </a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Career</a></li>

                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 col hidden-xs">
                        <h3>Resources</h3>
                        <!-- widget cources list -->
                        <ul class="fooer-navigation list-unstyled">

                            @*@Html.Action("_EventsFooter", "Tutor")*@
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Request Demo </a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Certification</a></li>
                            <li><a href="#">Scholarships</a></li>

                        </ul>
                    </div>
                    <nav class="col-xs-12 col-sm-6 col-md-3 col">
                        <h3>Help</h3>
                        <!-- fooer navigation -->
                        <ul class="fooer-navigation list-unstyled">

                            <li><a href="#">Customer Support</a></li>
                            <li><a href="#">Terms & Conditions </a></li>
                            <li><a href="#">Privacy & Policy</a></li>
                           

                            @*<li><a href="http://iskools.com.ng/tutor/classindex">All Courses/Topics</a></li>
        <li><a href="http://iskools.com.ng/tutor/AskQuestion">Ask Questions</a></li>
        <li><a href="@Url.Action("Features", "Iskools")">Features</a></li>
        <li><a href="@Url.Action("Benefits", "Iskools")">Benefits</a></li>
        <li><a href="@Url.Action("Listing", "Iskools")">School Listing</a></li>

        <li><a href="http://schoolmanagement.iskools.com.ng/">School Portal Management Software</a></li>
        <li><a href="#">C B T Software</a></li>
        <li><a href="@Url.Action("Index", "Initializer", new { area = "Simulations" })">Emulators Softwares</a></li>
        <li><a href="@Url.Action("Contact", "Iskools")" class="nav-item">Contact</a></li>*@

                        </ul>
                    </nav>
                    <div class="col-xs-12 col-sm-6 col-md-3 col">
                        <h3>contact us</h3>
                        <p>If you want to contact us about any issue our support available to help you 24/7 Monday to sunday.</p>
                        <!-- ft address -->
                        <address class="ft-address">
                            <dl>
                                <dt><span class="fa fa-whatsapp"><span class="sr-only">marker</span></span></dt>
                                <dd>
                                    Chat: 08165680904
                                </dd>
                                <dt><span class="fa fa-phone-square"><span class="sr-only">phone</span></span></dt>
                                <dd>Call: <a href="tel:08165680904">08165680904</a></dd>
                                <dt><span class="fa fa-envelope-square"><span class="sr-only">email</span></span></dt>
                                <dd>Email: <a href="mailto:iskool@exwhyzee.ng">iskool@exwhyzee.ng</a></dd>
                            </dl>
                        </address>
                    </div>
                </div>
            </aside>
            <!-- page footer -->
            <footer id="page-footer" class="font-lato">
                <div class="container">
                    <div class="row holder">
                        <div class="col-xs-12 col-sm-push-6 col-sm-6">
                            <ul class="socail-networks list-unstyled">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-pull-6 col-sm-6">
                            <p><a href="#">Iskool</a> | © 2020 <a href="http://exwhyzee.ng/">Powered by Exwhyzee Technologies</a>, All rights reserved</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- back top of the page -->
        @*<span class="text-center fa fa-caret-up active" style="left:20px !important;">
                <a class="text-center fa fa-caret-up active" style="left:20px !important;" href="#body">top</a>
            </span>*@<!-- loader of the page -->
        <div id="loader" class="loader-holder" style="display: none;">
            <div class="block"><img src="~/Content/iskool/hearts.svg" width="100" alt="loader"></div>
        </div>
    </div>
    <style>
        /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
        .icon-bar {
            position: fixed;
            top: 30%;
            -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
            transform: translateY(50%);
        }

            /* Style the icon bar links */
            .icon-bar a {
                display: block;
                text-align: center;
                padding: 16px;
                transition: all 0.3s ease;
                color: white;
                font-size: 20px;
            }

                /* Style the social media icons with color, if you want */
                .icon-bar a:hover {
                    background-color: #000;
                }

        .buttons {
            background: #3B5998;
            color: white;
        }

        .wrapper {
            overflow: visible;
        }

        .skin-blue .sidebar-form input[type="text"] {
            color: white;
            font-weight: 800;
        }

        /*'''''*/

        /*'''''''*/

        .sticky-container {
            padding: 0px;
            margin: 0px;
            position: fixed;
            right: -110px;
            top: 300px;
            width: 250px;
            z-index: 1100;
        }

        .sticky li {
            list-style-type: none;
            background-color: #fff;
            color: #efefef;
            /*height: 43px;*/
            padding: 0px;
            padding-left: 5px;
            margin: 0px 0px 1px 0px;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
        }

            .sticky li:hover {
                margin-left: -95px;
            }

            .sticky li img {
                float: left;
                margin: 5px 4px;
                margin-right: 5px;
            }

            .sticky li p {
                padding-top: 5px;
                margin: 0px;
                line-height: 16px;
                font-size: 11px;
            }

                .sticky li p a {
                    text-decoration: none;
                    color: #2C3539;
                }

                    .sticky li p a:hover {
                        text-decoration: underline;
                    }

        .modal-backdrop.fade {
            opacity: 0;
            filter: alpha(opacity=0);
        }

            .modal-backdrop.fade.in {
                opacity: 0.5;
                filter: alpha(opacity=50);
            }

        .loginmodal-container h1 {
            text-align: center;
            font-size: 1.8em;
            font-family: roboto;
        }

        .loginmodal-container input[type=submit] {
            width: 100%;
            display: block;
            margin-bottom: 10px;
            position: relative;
        }

        .loginmodal-container input[type=text], input[type=password] {
            height: 44px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
            -webkit-appearance: none;
            background: #fff;
            border: 1px solid #d9d9d9;
            border-top: 1px solid #c0c0c0;
            /* border-radius: 2px; */
            padding: 0 8px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

            .loginmodal-container input[type=text]:hover, input[type=password]:hover {
                border: 1px solid #b9b9b9;
                border-top: 1px solid #a0a0a0;
                -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            }

        .loginmodal {
            text-align: center;
            font-size: 14px;
            font-family: 'Arial', sans-serif;
            font-weight: 700;
            height: 36px;
            padding: 0 8px;
            /* border-radius: 3px; */
            /* -webkit-user-select: none;
        user-select: none; */
        }

        .loginmodal-submit {
            /* border: 1px solid #3079ed; */
            border: 0px;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,0.1);
            background-color: #4d90fe;
            padding: 17px 0px;
            font-family: roboto;
            font-size: 14px;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
        }

            .loginmodal-submit:hover {
                /* border: 1px solid #2f5bb7; */
                border: 0px;
                text-shadow: 0 1px rgba(0,0,0,0.3);
                background-color: #357ae8;
                /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
            }

        .loginmodal-container a {
            text-decoration: none;
            color: #666;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
        }

        .login-help {
            font-size: 12px;
        }

        .login-btn {
            text-align: center;
            margin-top: 50px;
        }

        .button {
            line-height: 55px;
            padding: 0 30px;
            background: #004a80;
            color: #fff;
            display: inline-block;
            font-family: roboto;
            text-decoration: none;
            font-size: 18px;
        }

            .button:hover,
            .button:visited {
                background: #006cba;
                color: #fff;
            }
    </style>
    @if (TempData["timmer"] == null)
    {
        @*<div class="sticky-container noprint">
                <ul class="sticky" style="padding:5px;">
                    <li>
                        data-toggle="modal" data-target="#pModal" onclick="function"
                        <a onclick="myFunction()">

                            <img src="~/Content/img/Untitled-2.jpg" style="max-width:200px;" />

                        </a>
                    </li>
                </ul>
            </div>*@
    }

    @if (TempData["timmer"] != null)
    {
        <div class="sticky-container noprint" style="top:100px;">
            <ul class="sticky" style="padding:5px;">
                <li style="background-color:#3B5998;">
                    <p id="demo1" style="color:#fff;font-weight:700;font-size:19px;padding:7px 5px 0;margin:0;"></p>
                    <p style="color:#fff;font-weight:500;font-size:13px;padding:0px 5px;margin:0;">remining</p><br />
                </li>
            </ul>
        </div>
    }
    <div id="pModal" class="modal fade" role="dialog"> 
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Register to Answer 5 questions to win Recharge Card </h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Name", "Tutor", null, FormMethod.Post, new { id = "", enctype = "multipart/form-data" }))
                    {

                        <div class="loginmodal-container">

                            @Html.AntiForgeryToken()

                            <div class="">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.Label("Full Name", htmlAttributes: new { @class = "control-label" })
                                    <div class="">
                                        @Html.Editor("name", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Email", htmlAttributes: new { @class = "control-label" })
                                    <div class="">
                                        @Html.Editor("email", new { htmlAttributes = new { @class = "form-control", type = "email" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Phone Number", htmlAttributes: new { @class = "control-label" })
                                    <div class="">
                                        @Html.Editor("phone", new { htmlAttributes = new { @class = "form-control", type = "number", required = "required" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.Label("Current School", htmlAttributes: new { @class = "control-label" })
                                    <div class="">
                                        @Html.Editor("school", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>



                            <input type="submit" value="Start Test" class="login loginmodal-submit btn-primary" />
                            <input type="submit" value="Cancel" class="login loginmodal-submit btn-default" data-dismiss="modal" />
                        </div>
                    }
                </div>
            </div>

        </div>

        <script>

        </script>
    </div>

    @if (TempData["tryagain"] != null)
    {
        // @Html.Action("_Question", "Tutor", new { id = TempData["idpart"] })

    }


    @if (TempData["NameName"] != null)
    {
        // @Html.Action("_Question", "Tutor", new { id = TempData["NameId"] })

        <script>

        </script>

    }
    <!-- include jQuery -->
    <script src="~/Content/iskool/jquery.js"></script>
    <!-- include jQuery -->
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    <script src="~/Content/iskool/plugins.js"></script>
    <!-- include jQuery -->
    <script src="~/Content/iskool/jquery.main.js"></script>
    <!-- include jQuery -->
    <script type="text/javascript" src="~/Content/iskool/init.js"></script>
    <script>

    </script>
    <script type="text/javascript" src="~/Content/nivo-slider/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        //$(window).load(function () {
        //    $('#slider').nivoSlider();


        //});
        $(window).load(function () {
            $('#slider').nivoSlider({

                animSpeed: 4000,                   // Slide transition speed
                pauseTime: 9000,                  // How long each slide will show
                controlNav: false,                // 1,2,3... navigation

            });
        });
    </script>
    @*<script src="jquery.min.js"></script>*@
    <script src="~/Content/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>

    @if (TempData["NameName"] != null)
    {
        @*<script>
                $('#pModal').modal('hide');
                $('#QModal').modal('show');

            </script>*@
    }

    <script>
        function myFunction() {
            $('#pModal').modal('show');
            $('#pModal').modal({
                backdrop: 'static',
                keyboard: false
            })
        }
    </script>
    <script>
         function checkingReg() {
             var number1id = document.getElementById('answer1id').value;
            var number2id = document.getElementById('answer2id').value;
            var number3id = document.getElementById('answer3id').value;
            var number4id = document.getElementById('answer4id').value;
             var number5id = document.getElementById('answer5id').value;

            var number1 = document.getElementById('answer1').value;
            var number2 = document.getElementById('answer2').value;
            var number3 = document.getElementById('answer3').value;
            var number4 = document.getElementById('answer4').value;
            var number5 = document.getElementById('answer5').value;
            var numberid = document.getElementById('answer5id').value;
            var student = {};
             student.A1 = number1,
                 student.A2 = number2,
                 student.A3 = number3,
                 student.A4 = number4,
                 student.A5 = number5,

                 student.A1id = number1id,
                 student.A2id = number2id,
                 student.A3id = number3id,
                 student.A4id = number4id,
                 student.A5id = number5id,
            student.Id6 = numberid
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateQuestion", "Tutor")",
                data: JSON.stringify(student),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    window.location.href = '/Tutor/UserInfoResult/' + data;
                $(this).unbind("click");
                }

                });
                console.log(student + "jj")
    }

    </script>



    @RenderSection("Scripts", required: false)


    <script type="text/jscript">
        $(function () {
            $('#classname').change(function () {
                $.getJSON('/Auth/SubjectList/' + $('#classname').val(), function (data) {
                    var items = '<option>Select a Subject</option>';
                    $.each(data, function (i, local) {
                        items += "<option value='" + local.Value + "'>" + local.Text + "</option>";
                    });
                    console.log(data)
                    $('#subject').html(items);
                });
            });
        });
    </script>



    <script>
        // Set the date we're counting down to
        var t = new Date();
        t.setSeconds(t.getSeconds() + 120);
        var countDownDate = t;

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo1").innerHTML = minutes + "min: " + seconds + " Sec ";
            document.getElementById("demo1s").innerHTML = minutes + "min: " + seconds + " Sec";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo1").innerHTML = "Time up";
                document.getElementById("demo1a").innerHTML = "Time up";
            }
        }, 1000);

        $(document).ready(function () {
            $(".owl-carousel").owlCarousel();
        });
    </script>
    <script>
        jQuery("#carouselm").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            margin: 20,
            /*
           animateOut: 'fadeOut',
           animateIn: 'fadeIn',
           */
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },

                600: {
                    items: 3
                },

                1024: {
                    items: 4
                },

                1366: {
                    items: 4
                }
            }
        });
    </script>
    <script>
        jQuery("#carousel").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            margin: 20,
            /*
           animateOut: 'fadeOut',
           animateIn: 'fadeIn',
           */
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },

                600: {
                    items: 3
                },

                1024: {
                    items: 4
                },

                1366: {
                    items: 4
                }
            }
        });
    </script>
    <script>
        jQuery("#carousel2").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            margin: 20,
            /*
           animateOut: 'fadeOut',
           animateIn: 'fadeIn',
           */
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },

                600: {
                    items: 3
                },

                1024: {
                    items: 4
                },

                1366: {
                    items: 4
                }
            }
        });
    </script>
    <script>
        jQuery("#carousel3").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            margin: 20,
            /*
           animateOut: 'fadeOut',
           animateIn: 'fadeIn',
           */
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },

                600: {
                    items: 3
                },

                1024: {
                    items: 4
                },

                1366: {
                    items: 4
                }
            }
        });
    </script>
    <script>
        jQuery("#carousel4").owlCarousel({
            autoplay: true,
            lazyLoad: true,
            loop: true,
            margin: 20,
            /*
           animateOut: 'fadeOut',
           animateIn: 'fadeIn',
           */
            responsiveClass: true,
            autoHeight: true,
            autoplayTimeout: 7000,
            smartSpeed: 800,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },

                600: {
                    items: 3
                },

                1024: {
                    items: 4
                },

                1366: {
                    items: 4
                }
            }
        });
    </script>

    @RenderSection("Scripts2", required: false)
</body>
</html>