@model IEnumerable<Exwhyzee.ESS.Models.Entities.ZoomSetting>

@{
    ViewBag.Title = "Index";
  
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoomHostOnePass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoomHostTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoomHostTwoPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoomHostThree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoomHostThreePass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnableZoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnableMultipleZoom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ZoomHostEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoomHostOne)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoomHostOnePass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoomHostTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoomHostTwoPass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoomHostThree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZoomHostThreePass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableZoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableMultipleZoom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
