@model IEnumerable<Exwhyzee.ESS.Models.Entities.SchoolPortalData>

@{
    ViewBag.Title = "Index";
}

<style>
    .bg-info {
        background-color: #468fb3;
    }

    .bg-success {
        background-color: #81c167;
    }

    .bg-warning {
        background-color: #cdb94c;
    }

    .bg-danger {
        background-color: #f96666;
    }

    .small-box h3 {
        font-size: 20px;
        font-weight: 900;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }

    .small-box p {
        font-size: 19px;
        font-weight: 900;
        margin: 0 0 1px;
    }

    .small-box h3 {
        font-size: 20px;
        font-weight: 900;
        margin: 0 0 1px 0;
        white-space: nowrap;
        padding: 0;
    }

    .col-lg-4 a {
        color: white;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i> SCHOOL DASHBOARD</h3>

                @if (TempData["success"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["success"]
                    </div>
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin"})">

                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>@ViewBag.schools</h3>

                                    <p>Total Schools</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>


                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin", typex = "prim", active = false})">

                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>@ViewBag.Primary</h3>

                                    <p>Primary</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin", typex = "second", active = false})">

                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>@ViewBag.Secondary</h3>

                                    <p>Secondary</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin",active = true})">

                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>@ViewBag.Active</h3>

                                    <p>Active Schools</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin", typex = "prim", active = true})">

                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>@ViewBag.AllPrimary</h3>

                                    <p>Active Primary</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin", typex = "second", active = true})">

                            <div class="small-box bg-primary">
                                <div class="inner">
                                    <h3>@ViewBag.AllSecondary</h3>

                                    <p>Active Secondary</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->

                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin"})">

                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>@ViewBag.Nonactive</h3>

                                    <p>Non Active</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin"})">

                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>@ViewBag.ActiveEnrolledStudents</h3>

                                    <p>Active Enrolled</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin"})">

                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>@ViewBag.TotalStaff</h3>

                                    <p>Total Staff</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin"})">

                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>@ViewBag.Totalcard</h3>

                                    <p>Total Cards</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin"})">

                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>@ViewBag.Usedcard</h3>

                                    <p>Total Used Cards</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-6">
                        <!-- small box -->
                        <a href="@Url.Action("Schools", "Datas", new { area="Admin"})">

                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>@ViewBag.NonUsedcard</h3>

                                    <p>Total Non Used card</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>






