@model Exwhyzee.ESS.Models.Entities.Subject

@{
    ViewBag.Title = "Create";
}
    <div class="row">
        <!-- left column -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">New Subject</h3>
                    @if (TempData["fail"] != null)
                    {

                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                            @TempData["fail"]
                        </div>
                    }
                </div>
                @using (Html.BeginForm("Create", "Subjects", null, FormMethod.Post, new { id = "", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

            <div class="box-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Label("Subject Name", htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Description", htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label> Cover Image</label>
                    <div class="">
                        <input type="file" name="upload" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ClassLevelId, "ClassLevelId", htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.DropDownList("ClassLevelId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClassLevelId, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="javascript: history.back()" class="btn btn-default">Cancel</a>
                    </div>

                }
            </div>

        </div>
        <div class="col-md-2"></div>

    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
