@model IEnumerable<Exwhyzee.ESS.Models.Entities.LiveClassSubject>
@{
    ViewBag.Title = "My Live Class Subject";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box" style="padding:7px;">
            <div class="box-header" style="margin-bottom:15px;">
                <h3 class="box-title"><i class="fa fa-fw fa-file-text-o"></i> Live Class Subject</h3>
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["error"]
                    </div>
                }
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        @TempData["success"]
                    </div>
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">

                <table id="example1" class="table table-bordered table-hover" border="1">

                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>
                                Subject
                            </th>
                            <th>
                                Class
                            </th>

                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 0;
                        }
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>

                                <td>

                                    @Html.DisplayFor(modelItem => item.LiveClassLevel.Name)

                                </td>

                                <td>
                                    @*@if (item.LiveClassLevelId == ViewBag.esubject.LiveClassLevelId)
                                    {
                                        <a class="btn btn-success" href="#">Offered</a>
                                    }
                                    else
                                    {*@
                                        @using (Html.BeginForm("AddSubject", "Subjects", FormMethod.Post, new { @class = "", role = "", enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            @Html.ValidationSummary("", new { @class = "text-danger" })
                                            <input type="hidden" name="subjectId" value="@item.Id" />

                                            <button type="submit" class="btn btn-primary">Enroll</button>

                                        }
                                    @*}*@




                                </td>

                            </tr>

                        }
                    </tbody>
                </table>


            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


@section Style {

    <link rel="stylesheet" href="http://v1.exwhyzee.ng/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section Scripts {
    <!-- DataTables -->
    <script src="http://v1.exwhyzee.ng/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="http://v1.exwhyzee.ng/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

}

@section Scripts2 {
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>

}


